html {
    height: 100%;
    width: 100%;
    background-color: #CDCDCD;
    font-family: "EB Garamond";
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    border-radius: 10px;
    background-color: #debba2;
}

li {
    list-style-type: none;
    border: 5px black solid;
    border-radius: 10px;
    padding: 0.5%;
    margin: 0.5%;
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-left: 0.2%;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

h3 {
    margin-bottom: 5;
}

button {
    border: none;
    display: block;
    vertical-align: middle;
    margin: none;
    background-color: #efb892;
    text-align: center;
    outline: none;
    cursor: pointer;
}

input {
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    padding: 0.5%;
    font-size: 100%;
    margin: none;
    margin-bottom: 0.5%;
    font-family: "EB Garamond";
    width: 50%;
    float: right;
    height: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    table-layout: fixed;
    font-size: 20px;
    padding: 0;
    border-spacing: 0;
    border-radius: 10px;
}

td {
    border-bottom: 2px solid black;
    border-collapse: separate;
    border-spacing: 0 10px;
}

th {
    border: 2px solid black;
    border-collapse:collapse;
    background-color:#F3E9DC;
}

th, td {
    padding: 10px;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:hover td{
    background: #F3E9DC !important;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#header {
    font-size: 1000%;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    vertical-align: middle;
    border: 5px solid black;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#table {
    width: 56.75%;
    float: right;
    font-size: 200%;
    margin-right: 1%;
    height: 620px;
    margin-bottom: 0;
    overflow-y: scroll;
    padding: 0.2%;
    padding-left: 1%;
    text-align: center;
    border: 5px solid black;
}

#userinfo {
    width: 37.75%;
    float: left;
    text-align: left;
    font-size: 200%;
    margin-left: 1%;
    height: 620px;
    margin-bottom: 0;
    padding: 0.2%;
    border: 5px solid black;
    overflow: scroll;
    margin-right: 1%;
}

.selection {
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    font-size: 30px;
    margin: 0;
    width: 20%;
    height: auto;
    font-family: "EB Garamond";
    font-weight: bolder;
}

.inputstyle {
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    font-size: 100%;
    margin: 0;
    width: 20%;
    height: auto;
    font-family: "EB Garamond";
    background-color: #f0f0f0;
    width: 50%;
    float: right;
    height: 50px;
}

.entryfield {
    width: 30%;
    height: 50px;
    margin: 2px;
}

#logo {
    width: 50%;
    height: auto;
    margin-top: 15%;
}

#instructions {
    border: none;
}

#signupform {
    display: none;
}

#signinform {
    display: none;
}

#signup, #signin {
    border: 2px solid black;
    vertical-align: middle;
    margin: none;
    background-color: #efb892;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-family: "EB Garamond";
    font-weight: bold;
    width: 50%;
}

#nameinfo, #emailinfo, #phoneinfo, #passwordinfo {
    margin: 0;
}

#editinfo {
    display: none;
}

#passwordinfo {
    margin-bottom: 0;
}

#newentryform {
    display: none;
    margin: 0;
    width: 93%;
}

#editbutton {
    margin-top: 0;
}

#saveedits {
    float: right;
    margin-left: 5px;
    cursor: pointer;
}

#editingbuttons {
    display: flex;
    flex-direction: row;
}

#submitentry {
    cursor: pointer;
}

#contentholder {
    display: flex;
    flex-direction: row;
    background-color: inherit;
}

#firstnamefield {
    margin-top: 0;
}

#deleteaccount {
    display: none;
    margin-left: 5px;
}

#executiveactions {
    margin-left: 10px;
}

#newentrybutton {
    display:inline-block;
    width: 200px;
    flex-basis:50%;
    margin-right:2%;
}

#deleteentrybutton {
    display: inline-block;
    width: 200px;
    flex-basis:50%;
    margin-left: 2%;
}

#canceldeletebutton {
    width: 80%;
    height:100%;
}

#cancelentry {
    width:30%;
    height:50px;
    padding:3.5px;
    margin:2px;
}
